# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/

# Virtual env
venv/
.env
.venv/

# IPython
profile_default/
ipython_config.py

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# OneDrive temp files
~$*

# Images
*.png
interactive_plots/

# Solves
*.csv